.reveal-search-input-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 5px;
}

.reveal-search-input-field {
	position: relative;
	flex-grow: 1;
}

.reveal-search-count {
	flex: none;
	min-width: 3ch;
	margin-inline-end: 1em;
	color: var(--text-muted);
	font-size: 0.75rem;
	font-variant-numeric: tabular-nums;
	text-align: end;
}

.reveal-search-result {
	display: flex;
	flex-flow: row nowrap;
	white-space: normal;
}

.reveal-search-result-main {
	min-width: 0;
	width: 100%;
}

.reveal-search-result-title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 5px;
	flex-wrap: wrap;
}

.reveal-search-result-title {
	display: flex;
	align-items: center;
	gap: 5px;
	white-space: pre-wrap;
}

.reveal-search-result-extension {
	color: var(--text-muted);
	font-size: 0.7rem;
}

.reveal-search-result-folder {
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--text-muted);
	font-size: 0.75rem;
}

.reveal-search-result-body {
	display: -webkit-box;
	overflow: hidden;
	margin-inline-start: 0.5em;
	color: var(--text-muted);
	font-size: small;
	white-space: normal;
	word-wrap: normal;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.reveal-search-highlight {
	text-decoration: underline;
	text-decoration-color: var(--text-highlight-bg);
	text-decoration-thickness: 3px;
	text-decoration-skip-ink: none;
	text-underline-offset: -1px;
}
